name: Deploy new Release
on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
    build:
        strategy:
            matrix:
                runs-on: [ubuntu-latest, windows-latest, macos-latest]
        runs-on: ${{ matrix.runs-on }}
        steps:
            - name: create folder
              run: mkdir build-${{ matrix.runs-on }}
            
            - name: create file
              run: echo "This is a build for ${{ matrix.runs-on }}" > build-${{ matrix.runs-on }}/build-${{ matrix.runs-on }}.txt

            - name: Upload build artifact
              uses: actions/upload-artifact@v4
              with:
                  name: build-${{ matrix.runs-on }}
                  path: build-${{ matrix.runs-on }}

    merge:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                name: merge artifacts
                path: merged
                pattern: build-*
            
            - name: List merged files
              run: ls -R merged

            - name: Create encrypted archive
              run: |
                  zip -r -P 1234 release-${{ github.ref_name }}.zip merged
            
            - name: Upload release artifact
              uses: actions/upload-artifact@v4
              with:
                  name: release-${{ github.ref_name }}
                  path: release-${{ github.ref_name }}.zip
